.menu-paper {
  overflow: visible;
  filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.32));
  margin-top: 1.5px;
  .MuiAvatar-root {
    width: 32px;
    height: 32px;
    margin-left: -5px;
    margin-right: 14px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 14px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
  }
}

.nextEventPart
{
    border : 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: rgb(102, 249, 146);
    padding: 10px 15px;
}

.userBar
{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 5px 15px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}