.user-bar{
  display: flex;
  justify-content: center;
}

.catalog {
  margin: 50px 150px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 40px;
  }

.catalog-page {
  margin-top: 20px;
}