.catalog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-bar{
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 20px;
}

.sort-filter {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}

.filter {
  flex: 3;
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  height: 50%;
  margin-bottom: 10px;
}


.catalog {
  margin: 50px 150px;
  width: 80%;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 40px;
  }

  .filter p {
    margin-bottom: 10px; 
    font-size: 20px; 
    text-align: center; 
  }