.event-rating-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;
}

.event-rating-container-no-rate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;
}