.payment-form {
    width: 550px;
    margin-top: 55px;
    .payment-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;

        border: 1px solid #ccc;
        border-radius: 10px;

        .payment-form-input {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 10px;
            width: 90%;
        }

        .form-submit-button {
            margin-top: 10px;
        }
    }
}