.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link{
  margin-top: 0px;
}
.forgot-password-link{
  margin-bottom: 0px;
}
.signup-link button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding-left: 10px;
}

.forgot-password-link button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding-left: 10px;
}

.security-question-header{
  margin-top: 30px;
  margin-bottom: 0px;
}

.security-question{
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}