.no-orders
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #747474;
    background-color: #b3c8e0;
    width: 100%;

    .no-orders-text
    {
        background-color: #ffffff89;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 100%;
        font-size: 1.3rem;
    }
}