.payment-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:max-content;

    .payment-details-field {
        font-size: 1.5rem;
    }
}